{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center" onload="generateQrCode()">
    <div class="container">
       <p> Please Scan this QR code in Google Authenticator App.</p>
        <p>To download this App : <a href= "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Click Here</a></p>
        <div>
            <img id="qrcode" />
        </div>
    </div>
</body>
<script>
    function generateQrCode()
    {
        fetch('http://127.0.0.1:5000/qr_generation').then((res)=>
            res.body.getReader().read().then(
            (img)=>{
                        let imageData= img.value;
                        let stringValue = String.fromCharCode(...imageData);
                        let encodevalue = btoa(stringValue);
                        document.getElementById('qrcode').src = `data:image/png;base64,${encodevalue}`;


                    }


            )
        
        
        )
    }

</script>
{% endblock %}