{% extends 'base.html' %}
{% block title %}
Sell Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-4">
    <a class="btn btn-sm btn-secondary" href="{{ url_for('sell_items') }}">Sell a new item</a>    
    <p> </p>
    <h2>Your Items on Market</h2>

        <br>
        <div class="row">
           {% for owned_item in owned_items %}
           {% include 'includes/owned_items_modals.html' %}
             <div class="col-md-6">
                 <div style="margin-bottom: 5px" class="card text-center bg-dark">
                      <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                          <h5 class="card-title">{{ owned_item.description }}</h5>
                          <!--<button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                  data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                              Sell this Item
                          </button>-->
                          <p class="card-text"><strong>
                              This item costs {{ owned_item.price }}$
                          </strong></p>
                      </div>
                  </div>
             </div>
           {% endfor %}
        </div>
   </div>
</div>
{% endblock %}